<num-snackbar></num-snackbar>
<num-error-display></num-error-display>
<mat-toolbar fxLayout="row" fxLayoutAlign="start center" color="light" fxLayoutGap="0px">
  <img id="header-logo" src="assets/img/bzkf.jpg" alt="{{ urlAlt }}" class="FDPGTheme" />
  <div fxFlex="100" fxLayoutAlign="end" class="margin-right">
    <div style="width: auto; margin-right: 4em;"><a href="https://bzkf.de/fileadmin/BOARD_Nutzungsbedingungen_V1.0_final.pdf" style="width: auto">Nutzungsbedingungen</a></div>
    <num-language></num-language>
    <num-header-user-menu></num-header-user-menu>
  </div>
</mat-toolbar>
