<num-snackbar></num-snackbar>
<num-error-display></num-error-display>
<mat-toolbar>
  <div class="header-left">
    <div class="logo-wrapper">
      <img id="header-logo" src="assets/img/bzkf.jpg" alt="{{ urlAlt }}" class="FDPGTheme" />
    </div>
    <div class="breadcrumbs-wrapper">
      <num-breadcrumbs></num-breadcrumbs>
    </div>
    <div fxFlex="100" fxLayoutAlign="end" class="margin-right">
      <div style="width: auto; margin-right: 4em;"><a href="https://bzkf.de/fileadmin/BOARD_Nutzungsbedingungen_V1.0_final.pdf" style="width: auto">Nutzungsbedingungen</a></div>
    </div>
  </div>
  <div class="header-right">
    <num-language></num-language>
    <num-header-user-menu></num-header-user-menu>
  </div>
</mat-toolbar>
